
$color-white:#fff;
$font-weight: 700;
$font-size: 14px;
$font-size-large: 20px;
$base-font-size:25px;
$small-font-size: 26px;
$font-weight-light: 300;
$background-color:#FF4E50; 
$custom-font-size: 52px;
$large-font-size: 24px;
$font-size-10: 10px;
$font-weight-normal: 400;
$color-hsla:#666;
$color-red:#FF4E50;
$extra-large-font-size: 22px;
$textColor: #fefefe;
$myFontSize: 18px;
$placeholder-color: #999;
$dimensione-carattere: 16px;
$colore-desiderato: #FF4E50;
$colore-grigio-scuro: #444444;
$colore-grigio-medio: #999999;
$gray-color: #CCCCCC;
$line-height: 20px;
$line-height: 26px;
$line-height-12: 12px;
$line-height: 14px;
$line-height-26: 26px;
$line-height-17: 17px;
